/**
 * Override default Bootstrap card
 */
 .card {
    border: 1px solid transparent;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
  
    &:hover {
      border: 1px solid $light-grey;
      box-shadow: 0 8px 16px 0 transparentize(#0B2934, .85);
  
      .card-body {
        color: $black;
      }
      .card-icon img {
        filter: invert(.5) sepia(1) saturate(35) hue-rotate(170deg);
      }
    }
    &-body {
      padding: 60px 40px;
      color: $secondary;
      transition: all .3s ease-in-out;
    }
    &-icon img {
      width: auto;
      max-width: 36px;
      height: 38px;
      margin-bottom: 20px;
      filter: invert(.4) sepia(1) saturate(1) hue-rotate(160deg);
    }
    &-title {
      @extend .text-roboto-slab;
      font-size: 18px;
      text-transform: uppercase;
    }
    &-text {
      font-size: 14px;
    }
  
    /**
     * Create custom card from Bootstrap card
     */
    &-plan {
      border: 1px solid $light-grey;
  
      .card-text {
        min-height: 180px;
      }
      .card-body {
        padding: 40px;
      }
      .btn {
        text-align: center;
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
        margin: 0 auto;
        display: block;
        max-width: 240px;
  
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
      &_active,
      &_active:hover {
        border-top: 5px solid $blue;
  
        .btn {
          color: $white;
          background-color: $orange;
          border: 1px solid $orange;
    
          &:hover {
            background-color: darken($orange, 5%);
          }
        }
      }
    }
  
    /**
     * Add border size when it's mobile
     */
    @media (max-width: 768px) {
      border: 1px solid $light-grey;
    }
  }