/**
 * Override default Bootstrap form
 */
 .form-group {
    margin-bottom: 24px;
  }
  .form-control {
    width: 100%;
    background-color: transparent;
    border-color: $white;
    padding: 8px 20px;
    color: $white;
  
    &::placeholder {
      color: transparentize($white, .4);
    }
    &:hover,
    &:focus,
    &:active,
    &:visited {
      background-color: transparent;
      color: $white;
    }
  }