// Variable of Color
$black      : #0B2934;
$secondary  : #758990;
$blue       : #17BBF3;
$orange     : #F2994A;
$dark-grey  : #C2C6C8;
$grey       : #CED4D6;
$light-grey : #F4F4F4;
$white      : #FFFFFF;