/**
 * Style for section footer
 */
 .footer {
    padding: 60px 0;
    color: $secondary;
  
    /**
     * Add style for list
     */
    dl > li {
      margin-bottom: 8px;
  
      a {  
        color: $secondary;
        
        &.list-title {
          @extend .text-quicksand-medium;
          color: $black;
          font-size: 18px;
        }
      }
    }
    /**
     * Create style for divider
     */
    .divider {
      border-right: 1px solid $grey;
  
      /**
       * Change border position and add gap when it's ipad and mobile
       */
      @media (max-width: 768px) {
        border: 0;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
    }
  }