/**
 * Style for section hero
 */
 .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &-title {
      width: 60%;
      line-height: 1.2;
    }
    &-description {
      width: 50%;
      margin-top: 10px;
      font-size: 16px;
      margin-bottom: 60px;
    }
  
    /**
     * Call mixin arrow and place it with :after
     */
    &:before {
      @include arrow();
      left: 12%;
    }
    
    /**
     * Change content size on ipad
     */
    @media (max-width: 768px) {
      height: 70vh;
  
      &-title {
        width: 80%;
      }
      &-description {
        width: 80%;
      }
      &:before {
        bottom: 5%;
        right: 12%;
        left: auto;
      }
    }
    
    /**
     * Change content size on phone
     */
    @media (max-width: 480px) {
      height: 80vh;
  
      &-title {
        width: 100%;
      }
      &-description {
        width: 100%;
        font-size: 14px;
      }
    }
  }